<h2 class="page-header">Add product</h2>
<form (ngSubmit)="onAddProductSubmit(addProductForm); addProductForm.reset()" #addProductForm="ngForm">

  <div class="form-group">
    <label for="category0">Category</label>
    <select class="form-control custom-select"  id="category0"
            required (change)="onSelectCategory0($event)"
            [(ngModel)]="category0" name="category0">
      <option *ngFor="let catalogItem of catalog; let i = index" [value]="catalogItem.category0.name">
        {{catalogItem.category0.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="category1">SubCategory</label>
    <select class="form-control custom-select"  id="category1"
            required [disabled]="!category0"
            [(ngModel)]="category1" name="category1">
      <option *ngFor="let catalogItem of catalogCategory1" [value]="catalogItem.name">
        {{catalogItem.name}}</option>
    </select>
  </div>


  <!--<div class="form-group">-->
    <!--<label for="category1">SubCategory</label>-->
    <!--<input name="category1" ngModel #category1="ngModel" class="form-control" id="category1">-->
  <!--</div>-->

  <div class="form-group">
    <label for="itemNumber">Item number</label>
    <input type="text" ngModel name="itemNumber" class="form-control" id="itemNumber">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" ngModel name="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" ngModel name="price" class="form-control" id="price">
  </div>
  <div class="form-group">
    <label for="mainImgSrc">Image source</label>
    <input type="text" ngModel name="mainImgSrc" class="form-control" id="mainImgSrc">
  </div>
  <div class="form-group">
    <label for="itemDescription">Description</label>
    <input type="text" ngModel name="itemDescription" class="form-control" id="itemDescription">
  </div>
    <div class="form-group">
    <label for="showOnMainPage">Show on main page 0/1</label>
    <input type="text" ngModel name="showOnMainPage" class="form-control" id="showOnMainPage">
  </div>
    <div class="form-group">
    <label for="discount">Discount %</label>
    <input type="text" ngModel name="discount" class="form-control" id="discount">
  </div>
  <input type="submit" class="btn btn-primary" [disabled]="!addProductForm.form.valid" value="Add">
</form>
