<h2 class="page-header">Add product</h2>
<form (submit)="onAddProductSubmit(); addProductForm.reset()" #addProductForm>
  <div class="form-group">
    <label for="category">Category</label>
    <input type="text" [(ngModel)]="category" name="category" class="form-control" id="category">
  </div>
  <div class="form-group">
    <label for="subCategory">Sub Category</label>
    <input type="text" [(ngModel)]="subCategory" name="subCategory" class="form-control" id="subCategory">
  </div>
  <div class="form-group">
    <label for="itemNumber">Item number</label>
    <input type="text" [(ngModel)]="itemNumber" name="itemNumber" class="form-control" id="itemNumber">
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" [(ngModel)]="price" name="price" class="form-control" id="price">
  </div>
  <div class="form-group">
    <label for="mainImgSrc">Image source</label>
    <input type="text" [(ngModel)]="mainImgSrc" name="mainImgSrc" class="form-control" id="mainImgSrc">
  </div>
  <input type="submit" class="btn btn-primary" value="Add">
</form>
