<p>
  products-side-menu works!
</p>

<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
  <a [routerLink]="['']">Home</a>
</li>



<ul *ngIf="showMain">
<li *ngFor="let cat of categories">
  <a class="btn btn-primary" (click)="navigateMain(cat)"  role="button">{{cat}}</a>

</li>
</ul>

<ul *ngIf="!showMain">

  <li>{{mainCategory}}</li>
  <li  *ngFor="let cat of categories">
    <a class="btn btn-primary" (click)="navigateSub(cat)"  role="button">{{cat}}</a>
  </li>
  <li><a class="btn btn-primary" role="button">Back</a></li>
</ul>