<p>
  side-menu works!
</p>

<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
  <a [routerLink]="['']">Home</a>

<!--</li><li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">-->
  <!--<a (click)="navigate('solodko')">Solodko</a></li>-->
<p><a class="btn btn-primary" (click)="navigate('solodko')"  role="button">Solodko</a></p>



<li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
  <a (click)="navigate('toys')">Toys</a></li>