<!--<h2 class="page-header">Add product</h2>-->
  <!--<table class="table">-->


          <!--<form *ngFor="let product of products" (submit)="onEditProductSubmit(product._id)" #editProductForm="ngForm">-->
            <!--<thead>-->
              <!--<tr *ngIf="product === products[0]">-->
                <!--<th>Item Number</th>-->
                <!--<th>Name</th>-->
                <!--<th>Price</th>-->
                <!--<th>Img source</th>-->
                <!--<th>Btn</th>-->
              <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
              <!--<tr class="active">-->
                <!--<td><input type="text" [disabled]="!isActive" [(ngModel)]="product.itemNumber" name="itemNumber" class="form-control"></td>-->
                <!--<td><input type="text" [(ngModel)]="product.name" name="name" #name="ngModel" class="form-control">-->
                  <!--&lt;!&ndash;<div [hidden]="name.untouched" class="alert alert-danger">&ndash;&gt;-->
                  <!--&lt;!&ndash;Untouched&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                <!--</td>-->
                <!--<td><input type="text" [(ngModel)]="product.price" name="price" class="form-control"></td>-->
                <!--<td><input type="text" [(ngModel)]="product.mainImgSrc" name="mainImgSrc" class="form-control"></td>-->
                <!--<td><input type="button" class="btn" value="Edit" (click)="onClickEditBtn($event)"></td>-->
                <!--<td><input type="submit" class="btn btn-primary" value="Save"></td>-->
              <!--</tr>-->
            <!--</tbody>-->
          <!--</form>-->

  <!--</table>-->
<!--<input type="text" [(ngModel)]="x" name="x">-->



<h2 class="page-header">Edit product</h2>
<table class="table" id="editProductsTable">
  <thead>
    <tr>
      <th></th>
      <th>Item Number</th>
      <th>Name</th>
      <th>Price</th>
      <th>Img source</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let i = index" [class.active]="i === selectedRow">
      <td>
        <span (click)="onClickEditBtn(i, product._id)" class="glyphicon glyphicon-pencil"
              [class.hidden]="!isEditBtnShowOnStart" aria-hidden="true"></span>

        <span (click)="onClickSaveBtn(i, product._id)" class="glyphicon glyphicon-ok"
              [class.hidden]="!(i === selectedRow)" aria-hidden="true"></span>
    &nbsp; </td>
      <td>
        <input type="text" [(ngModel)]="product.itemNumber" [disabled]="!(i===selectedRow)"
               name="name" #name="ngModel" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="product.name" [disabled]="!(i===selectedRow)"
               name="name" #name="ngModel" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="product.price" [disabled]="!(i===selectedRow)"
               name="name" #name="ngModel" class="form-control">
      </td>
      <td>
        <input type="text" [(ngModel)]="product.mainImgSrc" [disabled]="!(i===selectedRow)"
               name="name" #name="ngModel" class="form-control">
      </td>
    </tr>
  </tbody>
</table>

<!--<h2 class="page-header">Add product</h2>-->
    <!--<table class="table" id="editProductsTable">-->
      <!--<thead>-->
        <!--<tr>-->
          <!--<th></th>-->
          <!--<th>Item Number</th>-->
          <!--<th>Name</th>-->
          <!--<th>Price</th>-->
          <!--<th>Img source</th>-->
        <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
        <!--<tr *ngFor="let product of products; let i = index" [class.active]="i === selectedRow">-->
          <!--<td>-->
            <!--<span (click)="onClickEditBtn(i, product._id)" class="glyphicon glyphicon-pencil"-->
                  <!--[class.hidden]="!isEditBtnShowOnStart" aria-hidden="true"></span>-->

            <!--<span (click)="onClickSaveBtn(i, product._id)" class="glyphicon glyphicon-ok"-->
                  <!--[class.hidden]="!(i === selectedRow)" aria-hidden="true"></span>-->
        <!--&nbsp; </td>-->
          <!--<td>-->
            <!--<input type="text" [(ngModel)]="product.itemNumber" [disabled]="!(i===selectedRow)"-->
                   <!--name="name" #name="ngModel" class="form-control">-->
          <!--</td>-->
          <!--<td>-->
            <!--<input type="text" [(ngModel)]="product.name" [disabled]="!(i===selectedRow)"-->
                   <!--name="name" #name="ngModel" class="form-control">-->
          <!--</td>-->
          <!--<td>-->
            <!--<input type="text" [(ngModel)]="product.price" [disabled]="!(i===selectedRow)"-->
                   <!--name="name" #name="ngModel" class="form-control">-->
          <!--</td>-->
          <!--<td>-->
            <!--<input type="text" [(ngModel)]="product.mainImgSrc" [disabled]="!(i===selectedRow)"-->
                   <!--name="name" #name="ngModel" class="form-control">-->
          <!--</td>-->
        <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
